<%provide(:title, "Home")%>
<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
<style type="text/css">
  body{
  	background: #f0f0f0;
  }
  .banner{

  	width: 350px;
  	height: 350px;
  }

    h1 {
      display: block;
      font-size: 1.6em;
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
  }
  h1 {
      letter-spacing: .5px;
  }

  body, h1, h2, h3, p, button, input, select, textarea {
      font-family: 'Raleway', Arial, sans-serif;
  }
</style>
<div class="content mt-3">
  <div class="container">
    <div class="row  justify-content-center">
      <div class="col-12 col-md-8">
        <div class="card  card-primary">
          <!-- <div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-info-circle mr-2"></i>
							<strong>Instruction</strong>
						</h3>
					</div> -->
					<!-- /.card-header -->
					<div class="card-body p-5">
						<div class="d-flex justify-content-center">
							<%= image_tag("logo.jpg", class: "banner")%>
						</div>
						
	        	<h1 class="text-center">Welcome To Shalom College</h1>
	        	<div class="container text-center">
	        		<p>
		        		This is Shalom College's  registrar and school management portal system. To registrar click the << Continue >> button and answer the quetions.
		        	</p>
		        	<%=link_to "continue",admission_path, class: "btn btn-block bg-gradient-primary btn-lg"%>
	        	</div>
		        
					</div>
					<!-- /.card-body -->
				</div>
			</div>
			
    </div>
  </div>
