<div class="container my-5">
  <h2 class="text-center text-xl text-sm-md text-bold py-2 text-primary">Edit Application for Collage Transfer</h2>
  <%= render "form", external_transfer: @external_transfer %>
</div>
