<div class="container">
  <% if notice%>
    <p class="alert alert-success"><%= notice %></p>
  <%end%>
  <%= render @external_transfer, external_transfer: @external_transfer %>
  <div>
    <%unless @external_transfer.rejected? || @external_transfer.accepted?%>
      <div class="d-flex">
        <%= link_to "Edit Application", edit_external_transfer_path(@external_transfer), class: 'btn btn-primary mr-3' %>
        <%= button_to "Delete Application", @external_transfer, method: :delete, class: 'btn btn-danger' %>
      </div>
    <%end%>
  </div>
</div>

