<div class="panel_contents">
  <form method="post" id="q_search" class="filter_form" action="/generate/payment/report.pdf" accept-charset="UTF-8">
    <div class="filter_form_field filter_string">
      <label for="student-departement" class="label">Select Departement:</label>
      <select name="departement" id="student-departement" required="true" class="form-select form-select-lg mb-3">
        <option value="">Select departement</option>
        <% PaymentReport.departements.each do |dept|%>
          <option value="<%=dept.department.id%>"><%=dept.department.department_name%></option>
        <%end%>
      </select>
    </div>
    <div class="filter_form_field">
      <label for="student-year" class="label">Select Year:</label>
      <select name="year" id="student-year" required class="form-select form-select-lg mb-3">
        <option value="">Select year</option>
       
      </select>
    </div>
    <div class="filter_form_field">
      <label for="student-semester" class="label">Select Semester:</label>
      <select name="semester" id="student-semester" required class="form-select form-select-lg mb-3">
        <option value="">Select Semester</option>
      </select>
    </div>
    <div class="filter_form_field">
      <label for="study-level" class="label">Study Level:</label>
      <select name="study_level" id="study-level" required class="form-select form-select-lg mb-3">
        <option value="">Study Level</option>
        <option value="undergraduate">Undergraduate</option>
        <option value="graduate">Graduate</option>
      </select>
    </div>
    <div class="filter_form_field">
      <label for="admission-type" class="label">Admission Type:</label>
      <select name="admission_type" id="admission-type" required class="form-select form-select-lg mb-3">
        <option value="">Admission Type</option>
        <option value="online">Online</option>
        <option value="regular">Regular</option>
      </select>
    </div>
      <div class="filter_form_field">
      <label for="remaining-status" class="label">Remaining Status:</label>
      <select name="remaining_status" id="remaining-status" required class="form-select form-select-lg mb-3">
        <option value="">Remaining Status</option>
        <option value="true">Completed</option>
        <option value="false">Incomplete</option>
      </select>
    </div>
    <input type="submit" value="Generate Report" name="commit" id="q_submit" />
  </form>
  <div>
    <table>
      <thead>
        <tr>
          <th>Student Name </th>
          <th>Year </th>
          <th>Semester</th>
          <th>Total Price</th>
          <th>Remaining Amount</th>
          <th>Actual Payment</th>
          <th>Study Level </th>
          <th>Admission Type</th>
        </tr>
      </thead>
      <tbody id="payment-report-student-list">
      </tbody>
    </table>
  </div>
</div>
